html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to bottom, #1d2431, #171c26);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: white;
  font-size: xx-large;
  font-family: "Arial";
}

h3 {
  color: white;
  font-size: x-large;
  font-family: "Arial";
  margin: 0;
}

h4 {
  color: white;
  font-size: large;
  font-family: "Arial";
  margin: 0 0 0.5em 0;
}

p {
  color: white;
  font-size: medium;
  font-family: "Arial";
  margin: 0;
  margin-top: 0.5em;
}

.nav-link {
  margin-left: 1rem;
}

.link-underline-animation {
  display: inline-block;
  position: relative;
  color: rgb(187, 187, 187);
  font-weight: bold;
  font-size: x-large;
  font-family: "Arial";
  text-decoration: none;
}

.link-underline-animation:hover {
  color: white;
}

.link-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: -8px;
  left: 0;
  background-color: teal;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link-underline-animation-white:after {
  background-color: rgb(255, 255, 255);
}

.link-underline-animation-red:after {
  background-color: rgb(255, 65, 65);
}

.link-underline-animation-blue:after {
  background-color: rgb(93, 255, 43);
}

.link-underline-animation-green:after {
  background-color: rgb(18, 81, 255);
}

.link-underline-animation-rgb:after {
  background-image: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(30, 250, 0, 1) 49%, rgba(4, 0, 255, 1) 100%);
}

.link-fill-animation {
  display: inline-block;
  position: relative;
  color: teal;
  font-weight: bold;
  font-size: normal;
  font-family: "Arial";
  text-decoration: none;
}

.link-fill-animation:hover {
  color: white;
}

.link-fill-animation:after {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  transform: scaleX(0);
  height: 20px;
  bottom: 0px;
  left: -2px;
  background-color: teal;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  z-index: -1;
}

.link-fill-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.page-container {
  width: 75vw;
  max-width: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top-header {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.h1-name {
  font-family: "Arial";
  font-size: 2.5rem;
  margin: 0;
}

.name-link {
  color: rgb(187, 187, 187);
  margin-right: 0.75rem;
  font-family: "Arial";
  font-size: 2.5rem;
  text-decoration: none;
  font-weight: bold;
}

.name-link:hover {
  color: white;
}

.name-link:active {
  color: #1c2436;
}

.nav-top {
  display: flex;
  margin-bottom: 0.25rem;
}

.contact-links {
  display: flex;
  margin-top: 1em;
}

.contact-link {
  margin-right: 1em;
}

.contact-image {
  object-fit: cover;
  width: 36px;
  filter: brightness(0) invert(1) saturate(0);
  padding: 0.5em;
  border-radius: 10px;
  transition: filter 0.25s ease-in-out, background-color 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.contact-image:hover {
  filter: none;
  background-color: #8baaff15;
  cursor: pointer;
  transform: scale(1.1);
}

footer {
  margin-top: 10rem;
  height: 5vh;
  justify-content: end;
  align-items: end;
  display: flex;
}

.footer-content {
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

.main-content {
  margin-top: 5rem;
  display: grid;
  grid-template-areas:
    "profile profile"
    "skills skills"
    "education education"
    "experience experience"
    "projects projects";
  grid-gap: 3rem 2rem;
  grid-template-columns: 1fr 1fr;
}

.skills-container {
  grid-area: skills;
}

.h2-info {
  font-family: "Arial";
  margin: 0;
}

.bottom-margin {
  margin: 0 0 0.5em 0;
}

.profile-content {
  grid-area: profile;
}

.skills-locker {
  display: flex;
  justify-content: space-between;
}

.info-content {
  padding: 2rem;
  background-color: #1f2b42;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-content {
  position: relative;
  background-color: #1f2b42;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.project-information {
  border-radius: 10px;
  padding: 2rem;
  position: relative;
  background-image: linear-gradient(to right, #1f2b42 50%, rgba(0, 0, 0, 0));
}

.project-preview-image {
  position: absolute;
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(4px) opacity(0.75);
}

.project-information:hover {
  background-image: linear-gradient(to right, #2f4163 50%, rgba(255, 255, 255, 0.1));
}

.profile-picture {
  float: right;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  shape-outside: circle();
}

#education {
  grid-area: education;
}

#experience {
  grid-area: experience;
}

.projects-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.project-filter {
  padding: 1em 2em;
  color: white;
  text-decoration: none;
  font-size: large;
  font-family: "Arial";
  display: flex;
  background-color: transparent;
  border: none;
  align-items: center;
}

.project-filter:hover {
  background-color: #466eb8;
  cursor: pointer;
}

.project-filter:active {
  background-color: #1c2436;
}

.project-filter-enabled {
  background-color: #2d4269;
}

.project-filter-enabled:hover {
  background-color: #466eb8;
}

.project-filter:active {
  background-color: #263049;
}

.projects-container {
  grid-area: projects;
}

.filtered-projects {
  display: flex;
  flex-direction: column;
}

.project-container {
  margin-bottom: 2rem;
}

.small-org-img {
  width: 36px;
  height: 36px;
  filter: brightness(0) invert(1) saturate(0);
}

.tuni-org-img {
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1) saturate(0);
}

.project-features {
  margin: 0;
  margin-top: 0.25em;
}

.project-features li {
  color: white;
  font-family: "Arial";
}

.flex-center {
  display: flex;
  align-items: center;
}

.small-margin-left {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .page-container,
  .top-header {
    width: 90vw;
  }

  .main-content {
    margin-top: 4rem;
  }

  .profile-picture {
    width: 125px;
    height: 125px;
  }

  .project-filter {
    padding: 0.75em;
    font-size: medium;
  }

  .h1-name {
    font-family: "Arial";
    font-size: 1.75rem;
    margin: 0;
  }

  .name-link {
    color: white;
    margin-right: 0.5rem;
    font-size: 1.75rem;
  }

  .main-content {
    grid-gap: 1em;
    grid-template-areas:
      "profile"
      "skills"
      "education"
      "experience"
      "projects";
    grid-gap: 1em;
    grid-template-columns: 1fr;
  }

  .nav-top {
    margin-bottom: 0.1em;
  }

  .nav-link {
    font-size: 1.25rem;
  }
}
