.project-filters {
  color: whitesmoke;
  font-family: Arial;
}

.projects-filters-platform {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects-filters-tech {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-disabled {
  background-color: rgb(71, 71, 71);
  color: rgb(156, 156, 156);
}

@media only screen and (min-width: 800px) {
  div button.tech-tag:hover {
    filter: brightness(200%) saturate(200%);
    cursor: pointer;
  }
}

@media only screen and (max-width: 800px) {
  .project-filter {
    padding: 0.75em;
    font-size: medium;
  }
}
