main {
  width: 95vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  max-width: 900px;
}

.title-button {
  display: flex;
  flex-direction: row;
}

.chart svg {
  overflow: visible;
}

.project-charts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  margin-top: 2em;
  max-width: 900px;
  width: 75vw;
}

.project-filters {
  margin-top: 1em;
  color: whitesmoke;
  font-family: Arial;
  display: grid;
  grid-template-columns: auto auto;
  max-width: 900px;
  width: 75vw;
}

#projects-header {
  margin-top: 2em;
}

.filter-disabled {
  background-color: rgb(71, 71, 71);
  color: rgb(156, 156, 156);
}

#select-all-filter {
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.5),
    rgba(255, 166, 0, 0.5),
    rgba(255, 255, 0, 0.5),
    rgba(0, 128, 0, 0.5),
    rgba(0, 0, 255, 0.5),
    rgba(76, 0, 130, 0.5),
    rgba(238, 130, 238, 0.5)
  );
  color: white;
  border-radius: 4px;
}

#select-none-filter {
  border-radius: 4px;
  background-color: rgba(110, 110, 110, 0.5);
  color: rgb(255, 255, 255);
}

.filtered-projects {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-gap: 1rem;
  width: 95vw;
}

@media only screen and (min-width: 800px) {
  div button.tech-tag:hover {
    filter: brightness(200%) saturate(200%);
    cursor: pointer;
  }
}

@media only screen and (max-width: 800px) {
  .project-filter {
    font-size: medium;
  }

  .top-content {
    width: 95vw;
  }

  .filtered-projects {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  .project-filters {
    grid-template-columns: auto;
  }
}
