.tech-tag {
  border: 2px solid;
  border-radius: 8px;
  margin: 4px 2px;
  padding: 4px;
  display: inline-block;
}

.h4-tech-tag {
  text-decoration: none;
  color: white;
  font-size: large;
  font-family: "Arial";
  font-weight: bold;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  border: 2px solid;
  padding: 0.5em;
  border-radius: 10px;
  display: inline-block;
  border-color: #ffffff00;
  transition: filter 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
}

.h4-tech-tag:hover {
  background-color: #8baaff15;
  cursor: pointer;
}

.h4-desktop-tag:hover {
  border-color: #cc97f9;
  color: #cc97f9;
}

.h4-mobile-tag:hover {
  border-color: #5fc9f9;
  color: #5fc9f9;
}

.h4-web-tag:hover {
  border-color: #f26529;
  color: #f26529;
}

.h4-server-tag:hover {
  border-color: #57ae48;
  color: #57ae48;
}

.h4-other-tag:hover {
  border-color: #cccccc;
  color: #cccccc;
}

.h4-data-tag:hover {
  border-color: #ffe160;
  color: #ffe160;
}

.h4-tools-tag:hover {
  border-color: #6276e9;
  color: #6276e9;
}

.h4-design-tag:hover {
  border-color: #fe315d;
  color: #fe315d;
}

.desktop-tag {
  border-color: #cc97f9;
  color: #cc97f9;
}

.csharp-tag {
  border-color: #a179dc;
  color: #a179dc;
}

.cpp-tag {
  border-color: #659ad2;
  color: #659ad2;
}

.dotnet-tag {
  border-color: #512bd4;
  color: #512bd4;
}

.net-framework-tag {
  border-color: #039dde;
  color: #039dde;
}

.win-services-tag {
  border-color: #c6feff;
  color: #c6feff;
}

.mobile-tag {
  border-color: #5fc9f9;
  color: #5fc9f9;
}

.flutter-tag {
  border-color: #31b9f6;
  color: #31b9f6;
}

.dart-tag {
  border-color: #00d2b8;
  color: #00d2b8;
}

.android-tag {
  border-color: #85c808;
  color: #85c808;
}

.web-tag {
  border-color: #f26529;
  color: #f26529;
}

.html-tag {
  border-color: #e44d25;
  color: #e44d25;
}

.css-tag {
  border-color: #2965f1;
  color: #2965f1;
}

.javascript-tag {
  border-color: #f0db4f;
  color: #f0db4f;
}

.typescript-tag {
  border-color: #0079ca;
  color: #0079ca;
}

.react-tag {
  border-color: #00d8ff;
  color: #00d8ff;
}

.server-tag {
  border-color: #57ae48;
  color: #57ae48;
}

.spring-boot-tag {
  border-color: #60b831;
  color: #60b831;
}

.java-tag {
  border-color: #5382a2;
  color: #5382a2;
}

.sql-tag {
  border-color: #dc7433;
  color: #dc7433;
}

.postgresql-tag {
  border-color: #336791;
  color: #336791;
}

.sql-server-tag {
  border-color: #dc2b27;
  color: #dc2b27;
}

.nodejs-tag {
  border-color: #73aa63;
  color: #73aa63;
}

.docker-tag {
  border-color: #1d63ed;
  color: #1d63ed;
}

.mongodb-tag {
  border-color: #429933;
  color: #429933;
}

.other-tag {
  border-color: #cccccc;
  color: #cccccc;
}

.unity-tag {
  border-color: #a6a6a6;
  color: #a6a6a6;
}

.blender-tag {
  border-color: #ea7600;
  color: #ea7600;
}

.data-tag {
  border-color: #ffe160;
  color: #ffe160;
}

.python-tag {
  border-color: #3c79a9;
  color: #3c79a9;
}

.json-tag {
  border-color: #a1a1a1;
  color: #a1a1a1;
}

.xml-tag {
  border-color: #feb543;
  color: #feb543;
}

.tools-tag {
  border-color: #6276e9;
  color: #6276e9;
}

.lua-tag {
  border-color: #000080;
  color: #000080;
}

.vs-tag {
  border-color: #a577db;
  color: #a577db;
}

.vs-code-tag {
  border-color: #3daaf2;
  color: #3daaf2;
}

.intellij-idea-tag {
  border-color: #e3396f;
  color: #e3396f;
}

.android-studio-tag {
  border-color: #92c755;
  color: #92c755;
}

.github-tag {
  border-color: #000000;
  color: #000000;
}

.gitlab-tag {
  border-color: #fc6d26;
  color: #fc6d26;
}

.git-tag {
  border-color: #f05033;
  color: #f05033;
}

.svn-tag {
  border-color: #809cc9;
  color: #809cc9;
}

.jira-tag {
  border-color: #2684ff;
  color: #2684ff;
}

.design-tag {
  border-color: #fe315d;
  color: #fe315d;
}

.photoshop-tag {
  border-color: #31a8ff;
  color: #31a8ff;
}

.premiere-tag {
  border-color: #9999ff;
  color: #9999ff;
}

.after-effects-tag {
  border-color: #9999ff;
  color: #9999ff;
}

.vegas-tag {
  border-color: #1195cf;
  color: #1195cf;
}

@media only screen and (max-width: 800px) {
  .h4-tech-tag {
    font-size: medium;
  }

  .tech-tag.skill-image-text {
    border: none;
    margin: 4px 2px;
    padding: 0px;
  }
}
